<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" >
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<div class="container">
  <div class="row">
      <div class="col-sm">
        <h2>What are you getting</h2>
      </div>
  </div>
  <div class="row">
      <div class="col-sm">
        <p>With this boilerplate you are acquiring the basic structure to star implementing your project using SASS3/Bootstrap. SCSS is the newer version of SASS standing for Syntactically Awesome Style Sheets. This new version is known as SCSS for Sassy CSS; which is nothing but a superset of CSS3’s syntax allowing you to utilize your old CSS syntax while you move into the new syntax and features offered by SCSS.</p>
      </div>
  </div>
  <div class="row">
      <div class="col-sm">
        <h2>How to use it</h2>
      </div>
  </div>
  <div class="row">
      <div class="col-sm">
        <p>As a quick starter you can go into src/scss/_variables.scss and quickly set your color variables as desired.</p> 
        <p>On the app.component.scss you can see the directive for importing the custom scss file, as well as a rule using a variable defined all the way back into the _variable.scss file, modifying the original bootstrap color.</p>
        <p>You can also add more variables by copy them from the node_modules\bootstrap\scss\_variables.scss file.</p>
       <p>When creating a new .scss file in your project then add the following directive at the top of the file: <strong>@import '~src/scss/styles.scss';</strong></p>
      </div>
  </div>
  <div class="row">
      <div class="col-sm">
        <h2>Example</h2>
      </div>
  </div>
  <div class="row">
      <div class="col-sm">
          <div class="p-3 mb-2 bg-success text-white">Bootstrap Green Color</div>
          <div id="example-custom-color" class="p-3 mb-2 text-white">Custom Green Color</div>
        </div>
  </div>
  
  
<br/>
<h2>Here are some links with more: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://getbootstrap.com/docs/4.0/getting-started/theming/">Theming Bootstrap</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
</div>